<beans>
    <!-- UserJdbcDaoImpl  userJdbcDao = new UserJdbcDaoImpl(); -->
    <bean id="userJdbcDao" class="com.sxt.dao.impl.UserJdbcDaoImpl"></bean>
    <!-- UserHibernateDaoImpl userHibernateDao = new UserHibernateDaoImpl() -->
    <bean id="userHibernateDao" class="com.sxt.dao.impl.UserHibernateDaoImpl"></bean>
    <!-- UserSericeImpl userSerice = new UserServiceImpl(); -->
    <bean id="userService" class="com.sxt.service.impl.UserSericeImpl">
        <!-- userService.setUserDao(userHibernateDao); -->
        <property name="userDao" ref="userHibernateDao"></property>
    </bean>
</beans>